<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403363679381-4i6k7o51h884etesrpfcevdguqg1pd87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403363679381-4i6k7o51h884etesrpfcevdguqg1pd87</string>
	<key>API_KEY</key>
	<string>AIzaSyAmorWR7kqS0dev8IVo6RQEsdBGYg_RNCM</string>
	<key>GCM_SENDER_ID</key>
	<string>403363679381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taayza.taayza</string>
	<key>PROJECT_ID</key>
	<string>taayza-35d71</string>
	<key>STORAGE_BUCKET</key>
	<string>taayza-35d71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403363679381:ios:de4eb27a1534005c8f9f9c</string>
</dict>
</plist>